@model Task.Models.Category
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Category</h1>
                    <p class="text-center text-danger">@TempData["message"]</p>
                </div>
                <div class="card-body">
                    <form method="post" action="Create">
                        <div class="form-group">
                            <label asp-for="CategoryName"></label>
                            <input type="text" class="form-control" asp-for="CategoryName" placeholder="Enter Category name" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IsActive"></label>
                            <input type="checkbox" class="form-control" asp-for="IsActive" />
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ShowInWebsite"></label>
                            <input type="checkbox" class="form-control" asp-for="ShowInWebsite" />
                            <span asp-validation-for="ShowInWebsite" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExpiryDate"></label>
                            <input type="date" class="form-control" asp-for="ExpiryDate" placeholder="Enter Expiry Date" />
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryLogo"></label>
                            <input type="file" class="form-control" asp-for="CategoryLogo" placeholder="Please upload logo" />
                            <span asp-validation-for="CategoryLogo" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <input class="btn btn-sm btn-outline-success float-right" type="submit" value="Submit" />
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>

